.container {
    width: 1024px;
    height: 900px;
    outline: 2px solid orange;
}

.form-change {
    border: 2px solid rgb(177, 0, 177);
    background:#b800b827;
    width: 600px;
    height: 350px;
    margin: auto;
}

.form-change__title {
    color: #fff;
    background: linear-gradient(70deg, blue, pink);
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}

.form-select-custom {
    width: 350px;
}


.form-select-custom-1 {
    margin-left: 30px;
    width: 300px;
   }

.form-select-custom-2 {
 margin-left: 61px;
 width: 200px;
}

.form-select-custom-3 {
    margin-left: 63px;
    width: 100px;
   }

.form-control-custom {
    width: 550px;
}

.label-custom {
    margin-top: 10px;
    width: 100%;
    margin-left: 20px;
}

.label-custom-before-input {
   margin-top: 10px;
}

.form-control-custom {
    margin-top: 0px;
}

.form-change__button {
    margin-top: 15px;
    margin-left: 125px;
}

.button_bg-color-gradient {
    width: 150px;
    border-radius: 25px;
    background: linear-gradient(70deg, blue, pink);
}